Package: afad-libre7-tema
Version: 21.01.21
Installed-Size: 2364
Maintainer: Enes Mucahit OZTURK <enesmozturk@afad.gov.tr>
Architecture: amd64
Description: Afad Kurumsal Libre Tema
   Libre 7 Office2003 tema degistirme

